<div class="p-5 d-flex">
    <div class="my-auto my-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body text-white">
              <h5 class="card-title text-uppercase fw-bolder text-center fs-2">LOCATION</h5>
              <p class="card-text text-center fs-4">2215 John Daniel Drive</p>
              <p class="card-text text-center fs-5">Clark, MO 65243</p>
            </div>
          </div>
        </div>
      </div>
      <div class=" mb-3" style="max-width: 540px;">
        <div class="row g-0">
             <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title text-white fs-2 text-center">AROUND THE WEB</h5>
              <p class="card-text d-flex justify-content-center mt-2">
                <i class="fa-brands fa-facebook text-white fs-3 border-1 border-white border rounded-5 p-2 me-2"></i>
                <i class="fa-brands fa-twitter text-white fs-3 border-1 border-white border rounded-5 p-2 me-2"></i>
                <i class="fa-brands fa-linkedin-in text-white fs-3 border-1 border-white border rounded-5 p-2 me-2"></i>
                <i class="fa-solid fa-globe text-white fs-3 border-1 border-white border rounded-5 p-2 me-2"></i>
            </p>
              
            </div>
          </div>
        </div>
      </div>

      <div class="my-auto my-auto" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-8">
            <div class="card-body text-white">
              <h5 class="card-title text-uppercase fw-bolder text-center fs-2">ABOUT FREELANCER</h5>
              <p class="card-text text-center fs-5">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
              
            </div>
          </div>
        </div>
      </div>
</div>