
<div class="maindiv">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="container mx-auto my-auto ">
        <h1 class="text-center text-white text-uppercase mb-3">about component</h1>
        <div class="div d-flex  align-content-center justify-content-center mt-0">
        <div class="leftline me-3 mb-4"></div>
        <i class="fa-solid fa-star text-white text-center  mb-3  "></i>
        <div class="leftline ms-3 mb-4"></div>
    </div> 
    <div class="container">
    <div class="row px-5">
        <div class="col-md-6 ps-md-5 w-50">
            <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
        <div class="col-md-6 ps-md-5 w-50">
          <p class="text-white">Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
        </div>
    </div>
    </div>
   </div>
   
</div>
 