<nav class="mt-0 p-0 navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid mt-0 navbarbg p-4">
      <a class="navbar-brand text-white text-uppercase fw-bolder fs-2 ms-5" routerLink="/">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto me-5 pe-5 fs-6 fw-bolder ">
          <li class="nav-item">
            <a routerLink="/about" routerLinkActive="active rounded-3 bg-success" class="nav-link active text-white text-uppercase">about</a>
          </li>
          <li class="nav-item">
            <a routerLink="/portfolio" routerLinkActive="active rounded-3 bg-success"  class="nav-link text-white text-uppercase" >portfolio</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contact" routerLinkActive="rounded-3 active bg-success" class="nav-link text-white text-uppercase ">contact</a>
          </li>
        </ul>
      </div>
    </div>
  