section{
    margin-top: 116px;
    height: 540px;
}
.leftline{
    width: 80px;
    height: 4px;
    background-color: #2C3E50;
}
.contactform {
    display: block;
    width: 75%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    background-clip: padding-box;
    border: 0 solid white;
    border-bottom: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
   
   
}
.btn{
    background-color: #1ABC9C !important;
}
