<section class="mx-auto">
<div class="container  mb-4 ">
    <h1 class="text-center fw-bold text-uppercase mb-3 headercolor">conatct section</h1>
    <div class="div d-flex  align-content-center justify-content-center mt-0">
    <div class="leftline me-3 mb-4"></div>
    <i class="fa-solid fa-star headercolor text-center  mb-3  "></i>
    <div class="leftline ms-3 mb-4"></div>
</div>
    <div class="container w-50 p-3 mx-auto mt-5 ng-untouched ng-pristine ng-valid  ">
        <form>
        <div class="mb-3">
           
            <input type="text" name="userName" class="border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched form-control " id="userName" placeholder="userName :">
          </div>
        <div class="mb-3">
           
            <input type="number" name="userAge" class="border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched form-control " id="userAge" placeholder="userAge :">
          </div>
        <div class="mb-3">
           
            <input type="email" name="userEmail" class="border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched form-control " id="userEmail" placeholder="userEmail :">
          </div>
        <div class="mb-3">
           
            <input type="password" name="userPassword" class="border-0 border-bottom py-3 position-relative ng-pristine ng-valid ng-touched form-control " id="userPassword" placeholder="userPassword :">
          </div>
          <button class="btn mt-2 mb-3 text-white" type="submit">Send Message</button>
        </form>  

    </div>
    
</div>  

</section>